<!DOCTYPE html>
<html lang="en">
<head>
    <title>Liste over kamera for TimeLapse bruk</title>
</head>
<body class="container">

<main>
    <div >
        <h1><%= myParam %></h1>
        <p>Svad svada svada og lit bla bla bla bla bla bla</p>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <div class="w3-container">
          <h4>Micro 120</h4>
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card">
        <div class="w3-container">
          <h4>Toad 135</h4>
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card">
        <div class="w3-container">
          <h4>DragonFli 120</h4>
        </div>
      </div>
    </div>
</main>

</body>
</html>
