<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>

</div>
<iframe width=1080 height=768 src="http://192.168.137.70:8080/stream">
</iframe>

</body>
<% include partials/script %>
</html>